#header {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}
#form {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}
#current-weather-container {
  display: flex;
  justify-content: center;
  margin-top: 5em;
}
#hourly-weather-container {
  display: flex;
  overflow: auto;
  white-space: nowrap;
}
.hourly-weather-card {
  display: inline-block;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
ul {
  padding: 0;
  margin-top: 2em;
}
#daily-weather-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 30em;
  height: 30em;
}
li {
  list-style: none;
  padding: 1em;
}
.daily-weather-card {
  display: flex;
  border: 1px solid black;
}
.daily-weather-item {
  display: flex;
  margin: 0em 2em 0em 2em;
  width: 2em;
}
