@font-face {
  font-family: 'RedHatMono';
  src: url(./RedHatMono-VariableFont_wght.ttf);
}

#container {
  font-family: 'RedHatMono';
  display: flex;
  flex-direction: column;
  min-width: 30em;
  min-height: 100%;
  justify-content: center;
  text-align: center;
}
#header {
  display: flex;
  justify-content: center;
  margin-top: 0.5em;
  font-size: 1.7em;
  padding-right: 1em;
}
#form {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}
#current-weather-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 2.5em;
}
#hourly-weather-container {
  display: flex;
  overflow: scroll;
  white-space: nowrap;
  overflow-y: hidden;
}
.hourly-weather-card {
  display: inline-block;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
ul {
  padding: 0;
  margin-top: 2em;
}
#daily-weather-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 30em;
}
li {
  list-style: none;
  padding: 1em;
}
.daily-weather-card {
  display: flex;
}
.daily-weather-item {
  display: flex;
  margin: 0em 2em 0em 2em;
  width: 2em;
}
#header {
  display: flex;
  align-items: center;
  justify-content: center;
}
#search-input {
  background-color: rgba(238, 238, 238, 0.548);
  border-color: transparent;
  outline: none;
  border-radius: 5px;
}
#search-button {
  background: url('./search-icon.png') no-repeat;
  background-size: 100%;
  padding: 10px;
  border: none;
  cursor: pointer;
}
#search-button:hover {
  background-size: 110%;
}
.daily-weather-humidity {
  font-size: 0.7em;
  padding: 5px;
}
